{% extends 'base.html' %}
{% load static %}
{% block content %}

     <!-- Start Page Title -->
     <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
        
        <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
        <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
        <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
        <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
        <div class="shape5"><img src="{% static '' %}assets/img/shape5.png" alt="shape"></div>
        <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
        <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
        <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    </div>
    <!-- End Page Title -->
    
    <!-- Start Register Area -->
    <div class="ptb-80">
        <div class="container">
            <div class="auth-form">
                <div class="auth-head">
                    <a href="{% url 'home' %}">
                        <img src="{% static '' %}assets/img/logo.png">
                    </a>
                    <p>Create a new account</p>
                </div>
                <form>
                    <div class="mb-3">
                        <label class="form-label">E-mail</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <div class="foot">
                    <p>Already have an account yet? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Register Area -->

 
{% endblock %}