{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load base_tags %}
   <!-- Start ML Main Banner -->
   <div class="ml-main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
		{% for header in headers %}
                <div class="ml-banner-content">
                    <h1>Revolutionize Your Business with Cutting-Edge IT Solutions!</h1>
                    <p>Experience unparalleled growth and efficiency by embracing our state-of-the-art IT solutions. Elevate your business with cutting-edge technology, ensuring optimal performance and delivering maximum value. Transform the way you operate and stay ahead of the competition in today's dynamic market.</p>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-image">

                    <img src="{% static '' %}assets/img/hosting-banner-image/1.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/2.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/3.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/4.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/5.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/6.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/7.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/8.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/9.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/static-main.png" class="wow fadeInUp" alt="image">
                
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/2.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/3.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/4.png" class="wow fadeInUp" data-wow-delay="2s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/5.png" class="wow fadeInDown" data-wow-delay="2.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/6.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/7.png" class="wow fadeInDown" data-wow-delay="2.1s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/8.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/9.png" class="wow fadeInDown" data-wow-delay="1.7s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/10.png" class="wow fadeInDown" data-wow-delay="1.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/11.png" class="wow fadeInUp" data-wow-delay="0.4s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Main Banner -->

<!-- Start ML Partner Area -->

<!-- End ML Partner Area -->


<!-- End Our Solutions Area -->
		<!-- Start Team Area -->
		<div class="team-area ptb-80 bg-f9f6f6">
			<div class="container">
				<div class="section-title">
					<h2>Our Featured Solutions</h2>
					<div class="bar"></div>
					<p>Discover unparalleled efficiency and seamless integration with our featured solutions.</p>
				</div>
			</div>

			<div class="container-fluid p-0">
				<div class="team-slides owl-carousel owl-theme">
                    {% for solution in solutions %}
					<div class="single-team" style="height: 400px;">
						<div class="team-image">
							<img width="100" height="100" src="{{ solution.url }}" alt="image">
						</div>
	
						<div class="team-content">
							<div class="team-info">
								<h6><a href="{% url 'show_solution' id=solution.id %}">Let's Go!</a></h6>
								
							</div>
	
						
	
							<h5><a href="{% url 'show_solution' id=solution.id %}">{{solution.name}}</a></h5>
                           <p style="font-size: small;">{{solution.short_title}}</p>
						</div>
					</div>
                    {% endfor %}
				
				</div>
			</div>
		</div>
		<!-- End Team Area -->
<!-- Start sol -->

<!-- end sol -->
<!-- Start ML About Area -->
        <!-- Start IoT Features Area -->
        {% for header in headers %}

        {% if forloop.counter0|divisibleby:'2'  %}

        <div class="iot-features-area ptb-80 bg-f7fafd">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 iot-features-content">
                        <h3>{{header.name}}</h3>
                        <p>{{header.description|safe}}</p>
                        <a href="#" class="btn btn-primary">Explore More</a>
                    </div>

                    <div class="col-lg-6 iot-features-image">
                        <img src="{{header.url}}" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="iot-features-area ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    

                    <div class="col-lg-6 iot-features-image">
                        <img src="{{header.url}}" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                    </div>

                    <div class="col-lg-6 iot-features-content">
                        <h3>{{header.name}}</h3>
                        <p>{{header.description|safe}}</p>
                        <a href="#" class="btn btn-primary">Explore More</a>
                    </div>

                </div>
            </div>
        </div>

        {% endif %}
     
        {% endfor %}
        <!-- End IoT Features Area -->

        <!-- Start IoT Features Area -->

        <!-- End IoT Features Area -->
        
<!-- End ML About Area -->




<div class="domain-search-area ptb-80">
    <div class="container">
        <div class="domain-search-content">
            <h2>Find Your Best Services!</h2>
            <form>
                <input type="text" class="form-control" name="domain-search" id="domain-search" placeholder="Search domain name here">

                <div class="domain-select">
                    <select class="form-select">
                        <option>Solutions</option>
                        <option>Services</option>
                        <option>Products</option>
                      
                    </select>
                </div>

                <button type="submit">Search</button>
            </form>

           
        </div>
    </div>
</div>

<div class="why-choose-us ptb-80 pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-title">
                    <h2>Why Choose Us</h2>
                    <div class="bar"></div>
                    <p>Logix is a leading provider of IT solutions and services, dedicated to helping businesses succeed in the digital age. We offer a comprehensive range of services, from consulting and design to implementation and support, to help you achieve your business goals.</p>
                </div>

                <div class="why-choose-us-image">
                    <img src="{% static '' %}assets/img/why-choose-us-image/man-stand.png" class="wow fadeInLeft" alt="image" style="visibility: visible; animation-name: fadeInLeft;">
                    <img src="{% static '' %}assets/img/why-choose-us-image/database.png" class="wow fadeInRight" alt="image" style="visibility: visible; animation-name: fadeInRight;">
                    <img src="{% static '' %}assets/img/services-left-image/cercle-shape.png" class="rotateme" alt="image">
                    <img src="{% static '' %}assets/img/why-choose-us-image/main-static.png" class="main-pic wow fadeInUp animated" alt="image" style="visibility: visible; animation-name: fadeInUp;">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-team"></i>
                            </div>
                            <h3>Proficient &amp; Friendly</h3>
                            <p>We have a team of experienced and passionate professionals. Our team is made up of experts in all areas of IT, so we can provide you with the expertise you need to solve your unique challenges.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-rocket"></i>
                            </div>
                            <h3>Extremely Fast</h3>
                            <p>We are committed to providing you with the best possible value. We offer competitive pricing and flexible payment options, so you can afford the services you need.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-shield"></i>
                            </div>
                            <h3>100% Safe &amp; Security</h3>
                            <p>Deploy and manage your IT systems. We will deploy and manage your IT systems to ensure they are always up and running and performing at their best.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-why-choose-us">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                            </div>
                            <h3>Top-Rated</h3>
                            <p>Provide training and support. We will provide training and support to your employees so they can use your IT systems effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start ML Services Area -->
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Solutions</span>
            <h2>Our Services</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="{{service.url}}"  width="460" height="300" alt="{{service.alt}}">
                    </div>
                    <h3><a href="{% url 'show_service' id=service.id %}">{{service.name}}</a></h3>
                    <p>{{service.short_description|truncatechars:255}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Services Area -->

<!-- Why We Are Best From Others -->
<div class="repair-why-choose-us ptb-80 pb-0">
    <div class="container">
        <div class="section-title">
            <h2>Why We Are Best From Others</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-repair-box">
                    <div class="icon">
                        <i class="flaticon-handshake"></i>
                    </div>
                    <h3>Quick Repair Process</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>

                    <div class="back-icon">
                        <i class="flaticon-handshake"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-repair-box">
                    <div class="icon">
                        <i class="flaticon-repair"></i>
                    </div>
                    <h3>Free Diagnostics</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>

                    <div class="back-icon">
                        <i class="flaticon-repair"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-repair-box">
                    <div class="icon">
                        <i class="flaticon-delivery-truck"></i>
                    </div>
                    <h3>Fast Delivery</h3>
                    <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>

                    <div class="back-icon">
                        <i class="flaticon-delivery-truck"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why We Are Best From Others -->


<!-- Start Blog Area -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Story</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/9.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/10.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 18, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">I Used The Web For A Day On A 50 MB Budget</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/11.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">Here are the 5 most telling signs of micromanagement</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Blog Area -->

<!-- Start Free Trial Area -->
<div class="free-trial-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="free-trial-image">
                    <img src="{% static '' %}assets/img/free-trial-img.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="free-trial-content">
                    <h2>Start your free trial</h2>

                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your business email here">
                        <button type="submit">Sign Up Free</button>
                    </form>

                    <p>Test out the Machine Learning features for 14 days, no credit card required.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
{% endblock %}
