{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load base_tags %}
   <!-- Start ML Main Banner -->
   <div class="ml-main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
		{% for header in headers %}
                <div class="ml-banner-content">
                    <h1>Revolutionize Your Business with Cutting-Edge IT Solutions!</h1>
                    <p>Experience unparalleled growth and efficiency by embracing our state-of-the-art IT solutions. Elevate your business with cutting-edge technology, ensuring optimal performance and delivering maximum value. Transform the way you operate and stay ahead of the competition in today's dynamic market.</p>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-image">

                    <img src="{% static '' %}assets/img/hosting-banner-image/1.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/2.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/3.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/4.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/5.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/6.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/7.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/8.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/9.png" class="wow fadeInDown" data-wow-delay="0.7s" alt="image">
                    <img src="{% static '' %}assets/img/hosting-banner-image/static-main.png" class="wow fadeInUp" alt="image">
                
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/2.png" class="wow fadeInUp" data-wow-delay="1s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/3.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/4.png" class="wow fadeInUp" data-wow-delay="2s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/5.png" class="wow fadeInDown" data-wow-delay="2.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/6.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/7.png" class="wow fadeInDown" data-wow-delay="2.1s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/8.png" class="wow fadeInDown" data-wow-delay="1.9s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/9.png" class="wow fadeInDown" data-wow-delay="1.7s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/10.png" class="wow fadeInDown" data-wow-delay="1.5s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/11.png" class="wow fadeInUp" data-wow-delay="0.4s" alt="image">-->
<!--                    <img src="{% static '' %}assets/img/ml-banner-image/main-pic.png" class="wow fadeInUp" data-wow-delay="0.5s" alt="image">-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Main Banner -->

<!-- Start ML Partner Area -->
<div class="ml-partner-area mt-minus-top ptb-80 pb-0">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-1.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover1.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-2.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover2.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-3.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover3.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-10.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover10.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-5.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover5.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-6.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover6.png" alt="image">
                </a>
            </div>

            <div class="single-ml-partner">
                <a href="#">
                    <img src="{% static '' %}assets/img/partner-img/partner-7.png" alt="image">
                    <img src="{% static '' %}assets/img/partner-img/partner-hover7.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End ML Partner Area -->

<!-- Start Our Solutions Area -->
<div class="solutions-area ptb-80">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">What We Offer</span>
            <h2>Our Featured Solutions</h2>
            <div class="bar"></div>
            <p>Discover unparalleled efficiency and seamless integration with our featured solutions.</p>
        </div>

        <div class="row">
            {% for solution in solutions %}
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-solutions-box">
                    <div class="icon">
                        <img src="{{solution.url}}" alt="{{solution.alt}}">
                    </div>
                    <h3><a href="#">{{solution.name}}</a></h3>
                    <p>{{solution.description|safe}}</p>
                    <a href="{% url 'show_solution' id=solution.id %}"  class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Our Solutions Area -->

<!-- Start ML About Area -->
<div class="about-area pt-0 ptb-80">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="ml-about-img">
                    <img src="{% static '' %}assets/img/about4.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="ml-about-content">
                    <span class="sub-title">About Us</span>
                    {% for header in headers %}
<!--                    <h2>Engaging New Audiences Through Smart Approach</h2>-->
                    <div class="bar"></div>
                    <p>{{header.description|safe}}</p>
                    {% endfor %}

<!--                    <a href="contact.html" class="btn btn-secondary">Discover More</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML About Area -->

<!-- Start ML Services Area -->
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Solutions</span>
            <h2>Our Services</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="{{service.url}}"  width="460" height="300" alt="{{service.alt}}">
                    </div>
                    <h3><a href="single-services.html">{{service.name}}</a></h3>
                    <p>{{service.short_description|truncatechars:255}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Services Area -->

<!-- Start Fun Facts Area -->
<div class="funfacts-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>We always try to understand users expectation</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span class="odometer" data-count="180">00</span>K</h3>
                    <p>Downloaded</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span class="odometer" data-count="20">00</span>K</h3>
                    <p>Feedback</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span class="odometer" data-count="500">00</span>+</h3>
                    <p>Workers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="funfact">
                    <h3><span class="odometer" data-count="70">00</span>+</h3>
                    <p>Contributors</p>
                </div>
            </div>
        </div>

        <div class="contact-cta-box">
            <h3>Have any question about us?</h3>
            <p>Don't hesitate to contact us</p>
            <a href="contact.html" class="btn btn-primary">Contact Us</a>
        </div>

        <div class="map-bg">
            <img src="{% static '' %}assets/img/map.png" alt="map">
        </div>
    </div>
    
    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
</div>
<!-- End Fun Facts Area -->

<!-- Start ML Projects Area -->
<div class="ml-projects-area pt-0 ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Proud Projects That Make Us Stand Out</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="ml-projects-slides owl-carousel owl-theme">
            <div class="single-ml-projects-box">
                <img src="{% static '' %}assets/img/projects-img1.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="single-project.html">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="{% static '' %}assets/img/projects-img2.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="single-project.html">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="{% static '' %}assets/img/projects-img3.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="single-project.html">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="{% static '' %}assets/img/projects-img4.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="single-project.html">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-ml-projects-box">
                <img src="{% static '' %}assets/img/projects-img5.jpg" alt="image">
            
                <div class="plus-icon">
                    <a href="single-project.html">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Projects Area -->

<!-- Start Pricing Area -->
<div class="pricing-area ptb-80 pt-0">
    <div class="container">
        <div class="section-title">
            <h2>Our Pricing Plan</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="tab pricing-tab bg-color">
            <ul class="tabs">
                <li><a href="#">
                    Monthly Plan
                </a></li>
                
                <li><a href="#">
                    Yearly Plan
                </a></li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $0 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Get Started Free</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 1000 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $149 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 3300 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $179 <span>/m</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 10000 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $0 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Get Started Free</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 1000 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $249 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 3300 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>

                                <div class="price">
                                    $279 <span>/y</span>
                                </div>

                                <div class="buy-btn">
                                    <a href="contact.html" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>

                                <ul class="pricing-features">
                                    <li><i data-feather='check'></i> Drag & Drop Builder</li>
                                    <li><i data-feather='check'></i> Lead Generation & Sales</li>
                                    <li><i data-feather='check'></i> Boot & Digital Assistants</li>
                                    <li><i data-feather='check'></i> Customer Service</li>
                                    <li><i data-feather='check'></i> Up to 10000 Subscribers</li>
                                    <li><i data-feather='check'></i> Unlimited Broadcasts</li>
                                    <li><i data-feather='check'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Pricing Area -->

<!-- Start ML Feedback Area -->
<div class="ml-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Our Clients Feedback</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="ml-feedback-slides owl-carousel owl-theme">
            {% for client in clients %}
            <div class="single-ml-feedback-item">
                <div class="client-info">
                    <img src="{{ client.url}}" alt="{{client.alt}}">
                    <h3>{{client.name}}</h3>
                    <span>{{client.field}}</span>
                </div>
                <p>{{client.comment}}</p>
                <div class="rating">
                    <i data-feather="star"></i>
                    <i data-feather="star"></i>
                    <i data-feather="star"></i>
                    <i data-feather="star"></i>
                    <i data-feather="star"></i>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End ML Feedback Area -->

<!-- Start Blog Area -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Story</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/9.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/10.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 18, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">I Used The Web For A Day On A 50 MB Budget</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post-box">
                    <div class="entry-thumbnail">
                        <a href="#"><img src="{% static '' %}assets/img/blog-image/11.jpg" alt="image"></a>
                    </div>

                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a href="blog-1.html">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>

                        <h3><a href="single-blog.html">Here are the 5 most telling signs of micromanagement</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a href="single-blog.html" class="learn-more-btn">Read Story <i data-feather="plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Blog Area -->

<!-- Start Free Trial Area -->
<div class="free-trial-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="free-trial-image">
                    <img src="{% static '' %}assets/img/free-trial-img.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="free-trial-content">
                    <h2>Start your free trial</h2>

                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your business email here">
                        <button type="submit">Sign Up Free</button>
                    </form>

                    <p>Test out the Machine Learning features for 14 days, no credit card required.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
</div>
{% endblock %}
