{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Start Page Title -->
        <div class="page-title-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="section-title">
						<h2>{{service.name}}</h2>
						<div class="bar"></div>
						<p>{{service.title}}</p>
					</div>
                </div>
			</div>
			
			<div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
			<div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
			<div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
			<div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape5"><img src="{% static '' %}assets/img/shape5.png" alt="shape"></div>
			<div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
        </div>
        <!-- End Page Title -->
        
        <!-- Start ML Services Area -->
		{% if service.parent %}
		<div class="ml-services-area ptb-80">
			<div class="container">
                <div class="row">
					{% for prod in service.product_set.all %}	
                    <div class="col-lg-4 col-sm-6 col-md-6">
						<a href="{% url 'show_product' id=prod.id %}">
							<div class="single-ml-services-box">
								<div class="image">
									<img src="{{prod.url}}" alt="image">
								</div>
								<h3><a href="{% url 'show_product' id=prod.id %}">{{prod.name}}</a></h3>
								<p>{{prod.title}}</p>
								<p>{{prod.short_description}}</p>
							</div>
						</a>

                    </div>
					{% endfor %}
                </div>
			</div>

			<div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
			<div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
			<div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
			<div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
		</div>
		{% else %}
		<div class="solutions-area ptb-80">
			<div class="container">
                <div class="row">
					{% for child1 in service.service_set.all %}
                    <div class="col-lg-4 col-sm-7 col-md-6">
                        <div class="single-solutions-box">
                            <div class="icon">
                                <img src="{{service.url}}" alt="image">
                            </div>
                            <h3><a href="{% url 'show_service' id=child1.id %}">{{child1.name}}</a></h3>
                            <p>Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.</p>
                            <a href="{% url 'show_service' id=child1.id %}" class="learn-more-btn"><i data-feather="plus-circle"></i> Learn More</a>
                        </div>
                    </div>
					{% endfor %}
                </div>
			</div>

			<div class="shape1"><img src="{% static '' %}assets/img/shape1.png" alt="shape"></div>
			<div class="shape2 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
			<div class="shape3"><img src="{% static '' %}assets/img/shape3.svg" alt="shape"></div>
			<div class="shape4"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape6 rotateme"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape7"><img src="{% static '' %}assets/img/shape4.svg" alt="shape"></div>
			<div class="shape8 rotateme"><img src="{% static '' %}assets/img/shape2.svg" alt="shape"></div>
		</div>
		{% endif %}
        <!-- End ML Services Area -->

{% endblock %}