{% load static %}
<section class="footer-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<a class="footer-logo" href="#">
							<img src="{% static '' %}images//logo.png" class="white-logo" alt="logo">
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.</p>
						<ul class="footer-social">
							  {% for social in socials %}
							<li>
								<a href="{{social.link}}" class="linkedin"><img src="{{social.url}}" style="width: 30px ;height: 29
								px"></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Our Services</h3>
						</div>
						<ul class="footer-quick-links">
							{% for service in services %}
							<li> <a href="{% url 'show' id=service.id %}">{{ service.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Quick Links</h3>
						</div>
						<ul class="footer-quick-links">
							<li><a href="{% url 'show_about' %}">About Us</a></li>
							<li><a href="{% url 'show_contact' %}">Contact Us</a></li>

							<li><a href="{% url 'show_blog' %}" >Blog</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Contact Information</h3>
						</div>
						<div class="footer-info-contact">
							<span><strong>Phone:</strong> <a href="tel:0802235678">+000 313 577 111</a></span>
						</div>
						<div class="footer-info-contact">
							<span><strong>Email:</strong> <a href="mailto:demo@example.com">demo@example.com</a></span>
						</div>
						<div class="footer-info-contact">
							<span><strong>Address:</strong> 4035 Heavens, Los Angeles, California</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>