
<section class="footer-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<a class="footer-logo" href="#">
							<img src="{% static '' %}images//logo.png" class="white-logo" alt="logo">
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.</p>
						<ul class="footer-social">
							<li>
								<a href="#"> <i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li>
								<a href="#"> <i class="fab fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#"> <i class="fab fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a href="#"> <i class="fab fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Our Services</h3>
						</div>
						<ul class="footer-quick-links">
							<li> <a href="#">IT Solution</a></li>
							<li> <a href="#">Web Development</a></li>
							<li> <a href="#">Networking Services</a></li>
							<li> <a href="#">SEO Optimization</a></li>
							<li> <a href="#">App Optimization</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Quick Links</h3>
						</div>
						<ul class="footer-quick-links">
							<li><a href="about.html">About Us</a></li>
							<li><a href="projects.html">Case Study</a></li>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="privacy-policy.html">Privacy Policy</a></li>
							<li><a href="terms-condition.html">Terms & Conditions</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-heading">
							<h3>Contact Information</h3>
						</div>
						<div class="footer-info-contact">
							<span><strong>Phone:</strong> <a href="tel:0802235678">+000 313 577 111</a></span>
						</div>
						<div class="footer-info-contact">
							<span><strong>Email:</strong> <a href="mailto:demo@example.com">demo@example.com</a></span>
						</div>
						<div class="footer-info-contact">
							<span><strong>Address:</strong> 4035 Heavens, Los Angeles, California</span>
						</div>
						<!-- Start Subscribe Area -->
						<form class="newsletter-form">
							<input type="email" class="input-newsletter" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
							<button class="default-btn" type="submit">Subscribe <span></span></button>
						</form>
						<!-- End Subscribe Area -->
					</div>
				</div>
			</div>
		</div>
	</section>