{% load static %}
<script src="{% static '' %}assets/js/jquery.min.js"></script>
	<!-- Bootstrap Min JS -->
	<script src="{% static '' %}assets/js/bootstrap.min.js"></script>
	<!-- MeanMenu JS  -->
	<script src="{% static '' %}assets/js/jquery.meanmenu.js"></script>
	<!-- Appear Min JS -->
	<script src="{% static '' %}assets/js/jquery.appear.min.js"></script>
	<!-- CounterUp Min JS -->
	<script src="{% static '' %}assets/js/jquery.waypoints.min.js"></script>
	<script src="{% static '' %}assets/js/jquery.counterup.min.js"></script>
	<!-- Owl Carousel Min JS -->
	<script src="{% static '' %}assets/js/owl.carousel.min.js"></script>
	<!-- WOW Min JS -->
	<script src="{% static '' %}assets/js/wow.min.js"></script>
	<!-- Main JS -->
	<script src="{% static '' %}assets/js/main.js"></script>